/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.dialog-container {
    height: 100%;
    padding-top: 60px;
}

.dialog {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 45px 15px 10px 15px;
}

.dialog-icon {
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    -webkit-app-region: drag;
}

.dialog-button-region {
    height: 45px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    place-content: space-between;
    gap: 10px;
}