<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<div class='dialog-container'>
    <div class="dialog" [ngClass]="color">
        <span class="text-2xl font-semibold text-center">{{title}}</span>
        <p class='grow'>{{message}}</p>
        <div class='dialog-button-region'>
            <button *ngFor="let button of buttons; index as i" class="rounded-2xl grow" [ngClass]="getColorBtn(i)"
                [ngClass]="{'glow': button.focus}" (click)="click(button.id)">{{button.name}}</button>
        </div>
    </div>
    <img [src]="icon" class="dialog-icon">
    <img *ngIf="hasReport" src="assets/icon/report.svg"
        class='absolute top-[73px] right-[18px] h-10 w-10 cursor-pointer' (click)="report()">
</div>