/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.dialog-container {
    height: 100%;
    padding: 60px 3px 12px 3px;
}

.dialog {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: solid 3px theme('colors.error');
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    padding: 45px 15px 10px 15px;
}

.dialog-icon {
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    -webkit-app-region: drag;
}

.dialog-stack {
    flex-grow: 1;
    padding: 5px 10px;
    border: solid 1px #2f2f2f;
    background-color: rgba(50, 0, 0, 0.2);
    color: theme('colors.fore.3');
    border-radius: 10px;
    font-size: 12px;
    white-space: pre;
    overflow-x: auto;
}

.dialog-button-region {
    height: 45px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    place-content: space-between;
    gap: 10px;
}