<div class="h-full bg-back-2 rounded-2xl flex flex-col gap-2 p-2">
    <div class="relative process h-6" style="-webkit-app-region: drag">
        <p-progressBar class="absolute left-0 right-0" [showValue]="false" [value]="progress * 100" />
        <div class="flex items-center gap-2 px-1 z-10 absolute left-0 right-0">
            <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            <span class="grow text-sm">> {{ process }}...</span>
            <button *ngIf="cancellable" (click)="end()">
                <i class="pi pi-times" style="font-size: 1rem"></i>
            </button>
        </div>
    </div>

    <div class="grow flex gap-3">
        <div class="grow panel">
            <p-tree class="h-full w-full md:w-30rem" [value]="tasksTree" (onNodeExpand)="nodeExpand($event)"
                (onNodeCollapse)="nodeCollapse($event)">
                <ng-template let-node pTemplate="uncompleted">
                    <div class="flex gap-2 items-center">
                        <i class="pi pi-times-circle" style="color: #cf1010; font-size: 1.25rem"></i>
                        <span>{{ node.label }}</span>
                    </div>
                </ng-template>
                <ng-template let-node pTemplate="progress">
                    <div class="flex gap-2 items-center">
                        <i class="pi pi-spin pi-spinner" style="color: #a5a5a5; font-size: 1.25rem"></i>
                        <span>{{ node.label }}</span>
                    </div>
                </ng-template>
                <ng-template let-node pTemplate="completed">
                    <div class="flex gap-2 items-center">
                        <i class="pi pi-check-circle" style="color: #23cf10; font-size: 1.25rem"></i>
                        <span>{{ node.label }}</span>
                    </div>
                </ng-template>
            </p-tree>
        </div>
    
        <div class="grow-[2] flex flex-col">
            <div class="flex p-2">
                <div class="grow flex flex-col">
                    <span class="text-2xl font-semibold">{{title}}</span>
                    <span>{{description}}</span>
                </div>
                <div class="w-40 h-16 flex items-center justify-center">
                    <ng-template *ngIf="completed.length === tasks.length; then done else loader"></ng-template>
                    <ng-template #done>
                        <button class="decorated-button glow" (click)="end()">Done</button>
                    </ng-template>
                    <ng-template #loader>
                        <div class="loader"></div>
                    </ng-template>
                </div>
            </div>
            <div class="grow flex flex-col gap-2">
                <div *ngFor="let task of tasks" class="bg-back-3 rounded-xl p-2 task">
                    <div *ngIf="task.progress === undefined" class="flex items-center gap-3">
                        <i class="pi pi-times-circle" style="color: #cf1010; font-size: 1.5rem"></i>
                        <span class="grow text-lg font-semibold">{{task.label}}</span>
                        <span class="text-[#cf1010]">{{task.currentSubtask}}/{{task.subtasks.length}}</span>
                    </div>
    
                    <div *ngIf="task.progress !== undefined && task.progress < 1" class="flex flex-col gap-2">
                        <div class="flex items-center gap-3">
                            <i class="pi pi-spin pi-spinner" style="color: #a5a5a5; font-size: 1.5rem"></i>
                            <span class="grow text-lg font-semibold">{{task.label}}</span>
                            <span class="text-[#a5a5a5]">{{task.currentSubtask}}/{{task.subtasks.length}}</span>
                        </div>
                        <p-progressBar [showValue]="task.progress! > 0.08" [mode]="task.progress == 0 ? 'indeterminate' : 'determinate'" [value]="displayTaskProgress(task)" />
                    </div>
    
                    <div *ngIf="task.progress && task.progress >= 1" class="flex items-center gap-3">
                        <i class="pi pi-check-circle" style="color: #23cf10; font-size: 1.5rem"></i>
                        <span class="grow text-lg font-semibold">{{task.label}}</span>
                        <span class="text-[#23cf10]">{{task.currentSubtask}}/{{task.subtasks.length}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>