<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<ng-template *ngIf="pages.length > 0; then display else empty"></ng-template>

<ng-template #empty>
    <div class="h-full flex flex-col gap-3 justify-center items-center">
        <div class='big-decorated-icon glow'>
            <img src="assets/icon/add.svg">
        </div>
        <span class="text-lg font-semibold">Open a page from the left panel</span>
    </div>
</ng-template>

<ng-template #display>
    <p-tabView [activeIndex]="selectedIndex" [scrollable]="true" class="h-full p-2 pl-0">
        <p-tabPanel *ngFor="let page of pages; index as i" [header]="page.label">
            <ng-template pTemplate="header">
                <div class="flex items-center gap-1 rounded-lg px-2 py-1 cursor-pointer hover:bg-main-hover-tr"
                    [ngClass]="{'bg-main-tr': selectedIndex === i}" (click)="select(i)">
                    <img [src]="page.icon" class="h-4 w-4">
                    <span class="text-sm">{{page.label}}</span>
                    <i class="pi cursor-pointer" style="font-size: 0.75rem"
                        [ngClass]="{'pi-times': selectedIndex === i, 'w-3': selectedIndex !== i}"
                        (click)="closePage(selectedIndex)"></i>
                </div>
            </ng-template>
            <div class="h-full border-solid border-2 border-fore-main rounded-2xl p-2">
                <ng-container *ngComponentOutlet="page.component; inputs: { index: i }"></ng-container>
            </div>
        </p-tabPanel>
    </p-tabView>
</ng-template>