<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<div class="h-full bg-back-2 rounded-2xl flex flex-col gap-2 p-2">
    <div class="relative process h-6" style="-webkit-app-region: drag">
        <p-progressBar class="absolute left-0 right-0" [showValue]="false" [value]="progress * 100" />
        <div class="flex items-center gap-2 px-1 z-10 absolute left-0 right-0">
            <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            <span class="grow text-sm">> {{ generator.label }}...</span>
            <button (click)="end(false)">
                <i class="pi pi-times" style="font-size: 1rem"></i>
            </button>
        </div>
    </div>

    <div class="flex flex-col gap-1">
        <span class="text-sm text-fore-3">Textures</span>
        <p-progressBar [showValue]="texturesProgress > 0.08" [value]="texturesProgress" />
    </div>
    <div class="flex flex-col gap-1">
        <span class="text-sm text-fore-3">Models</span>
        <p-progressBar [showValue]="modelsProgress > 0.08" [value]="modelsProgress" />
    </div>

    <div class="grow bg-back-1 rounded-lg">
        <ng-template *ngIf="texturesProgress === 1; then model else loading"></ng-template>
        
        <ng-template #model>
            <ngt-canvas [sceneGraph]="sceneGraph!" />
        </ng-template>

        <ng-template #loading>
            <div class="h-full flex justify-center items-center gap-2 flex-col bg-back-1">
                <div class="loader"></div>
                <span class="text-xl font-semibold">Loading Textures...</span>
            </div>
        </ng-template>
    </div>
</div>