/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.node-actions {
  display: none;
}

.node-area:hover + .node-actions,
.node-actions:hover, 
.node-selected > .node-actions {
  display: flex;
}

.node-hover:hover {
  background-color: var(--p-primary-300);
  border-radius: 5px;
}

.node-selected {
  background-color: var(--p-primary-700);
  border-radius: 5px;
}

:host ::ng-deep {
  [pDraggable] {
      cursor: move;
  }
}