.choose-architect {
    position: absolute;
    z-index: 9;
    padding: 15px 10px;
    border-radius: 30px;
    top: 10%;
    left: 30%;
    height: 70%;
    width: 40%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
}

.architect-label {
    place-content: initial;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 30px;
}

.architect-icon {
    width: 60px;
    height: 60px;
    margin: 0 15px;
    align-self: center;
}

.architect-builder {
    height: 60px;
    display: inline-block;
    flex: 1;
    display: flex;
    place-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
}

.architect-builder::after {
    background-color: #2f2f2f;
    border-radius: 15px;
}

.architect-builder:hover {
    background-color: #0078e7;
}

.architect-builder:hover::after {
    background-color: transparent;
}

.architect-name {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.architect-builder>img {
    position: absolute;
    width: 45px;
    height: 45px;
    opacity: 0.3;
}

.architect-builder>span {
    margin-top: 10px;
    font-weight: 600;
}