/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.dialog-container {
    height: 100%;
    padding: 60px 3px 12px 3px;
}

.dialog {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: solid 3px theme('colors.error');
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.6);
    padding: 45px 15px 10px 15px;
}

.dialog-icon {
    position: absolute;
    top: 0;
    left: calc(50% - 50px);
    height: 100px;
    width: 100px;
    -webkit-app-region: drag;
}

.dialog-button-region {
    height: 45px;
    padding: 5px;
    display: flex;
    flex-direction: row-reverse;
    place-content: space-between;
    gap: 10px;
}

/* Dialog Border Colors */

.info {
    border-color: var(--p-primary-500)
}

.warn {
    border-color: theme('colors.warn')
}

.error {
    border-color: theme('colors.error')
}

.empty {
    border-color: var(--p-surface-700)
}