/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.as-split-gutter {
    display: initial !important;
    background-color: transparent !important;
}

.as-split-gutter .sidebar-collapsed {
    display: none !important;
}

.as-split-gutter-icon {
    background-image: none !important;
}