<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<div class="flex flex-col h-full gap-2">
    <div class="flex gap-2">
        <button *ngFor="let folder of folders" 
            class="w-10 h-10 p-2 rounded-xl bg-back-3 hover:bg-primary-300" [ngClass]="{'bg-primary-600': folder === selectedFolder}"
            (click)="selectFolder(folder)">
            <img [src]="folder.icon">
        </button>
    </div>

    <p-tree class="grow w-full md:w-30rem" [value]="tree" (onNodeExpand)="nodeExpand($event)" (onNodeCollapse)="nodeCollapse($event)">
        <ng-template let-node pTemplate="dir">
            <div class="flex">
                <span class="grow folder">{{ node.label }}</span>
                <div class="gap-2 createFiles">
                    <button>
                        <i class="pi pi-file-plus" (click)="newFile(node, node.data.ref)"></i>
                    </button>
                    <button>
                        <i class="pi pi-folder-plus" (click)="newDir(node, node.data.ref)"></i>
                    </button>
                </div>
            </div>
        </ng-template>

        <ng-template let-node pTemplate="file">
            <button class="w-full flex gap-2 items-center" (click)="openFile(node)">
                <img [src]="selectedFolder.icon" class="h-4">
                <span class="grow text-start text-sm">{{ node.label }}</span>
            </button>
        </ng-template>
    </p-tree>
</div>