/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.nodeActions {
  display: none;
}

.nodeLabel:hover + .nodeActions,
.nodeActions:hover {
  display: flex;
}

/* TreeView */

.p-treenode-content {
  margin: 3px 0;
  display: flex;
  gap: 5px;
}

.p-treenode-label {
  width: calc(100% - 30px);
}

.p-treenode-children {
  margin-left: 12px;
}