<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<ng-template *ngIf="projects.length === 0; then emptyProjects else projectsList"></ng-template>

<ng-template #emptyProjects>
    <div class="h-full flex flex-col items-center justify-center gap-2 cursor-pointer">
        <div class='big-decorated-icon glow'>
            <i class="pi pi-plus p-3 border-solid border-4 border-[#ffffff6f] rounded-3xl" style="font-size: 40px"></i>
        </div>
        <span class="text-lg mt-2 text-fore-3">Create New Project</span>
    </div>
</ng-template>

<ng-template #projectsList>
    <div class="h-full flex flex-col mx-3 my-2 gap-5">
        <div class="flex">
            <i *ngIf="selectedArchitect > -1; else arrowEmpty" class="pi pi-angle-left cursor-pointer"
                style="font-size: 2rem" (click)="switchArchitect(-1)"></i>
            <span class="grow text-center font-semibold text-lg place-self-center">{{architect.name}}</span>
            <i *ngIf="selectedArchitect < architectsLength -1; else arrowEmpty" class="pi pi-angle-right cursor-pointer"
                style="font-size: 2rem" (click)="switchArchitect(+1)"></i>

            <ng-template #arrowEmpty>
                <div class="w-[32px]"></div>
            </ng-template>
        </div>

        <div class="grow flex flex-col gap-5">
            <project-tile *ngFor="let project of projects" [project]="project" (edit)="doEditProject($event)"
                (delete)="doDeleteProject($event)"></project-tile>
        </div>
    </div>
</ng-template>