.context-menu {
    position: absolute;
    z-index: 10;
    padding: 8px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    backdrop-filter: blur(6px);
    background-color: rgba(150, 150, 150, 0.2);
}

.context-menu-title {
    font-weight: bold;
    margin-left: 2px;
}

.context-menu>button {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #efefef;
    height: 35px;
    padding: 0 15px;
}

.context-menu>button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}