.sidebar {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100%;
    display: flex;
}

.sidebar-icon-region {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
    padding: 15px 8px;
    border: solid 2px #878787;
    border-radius: 10px;
}

.sidebar-content {
    flex-grow: 1;
    padding: 10px;
}

.MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: #005fdd99;
}