/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.unselected,
.selected {
  width: 100%;
  height: 35px;
  border-radius: 10px;
}

.unselected:hover {
  background-color: theme('colors.overlay.450');
}

.selected {
  background-color: var(--p-primary-600);
  outline: solid var(--p-primary-400) 2px;
}