<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<p-splitter [panelSizes]="[75, 25]" [minSizes]="[40, 15]" [style]="{ height: '100%' }">
    <ng-template pTemplate>
        <ng-template *ngIf="selected; then rule else main" />

        <ng-template #rule>
            <div class="w-full flex flex-col p-3 gap-5">
                <div class="flex flex-col gap-1">
                    <span *ngIf="selected!.rule.isDependency" class="text-sm text-right text-surface-400 pr-2">-> {{displayRuleDependencies(selected!.id)}}</span>
                    <p-toolbar>
                        <ng-template #start>
                            <p-button *ngIf="!selected!.rule.isDependency" icon="pi pi-angle-left" class="mr-2" [rounded]="true" severity="secondary" (onClick)="select(null)"/>
                            <p-select [disabled]="selected!.rule.isDependency" [options]="randomTypeOptions()" [ngModel]="selected!.randomTypeOption" optionLabel="label" class="w-44" (onChange)="editRule(selected!.id, { type: $event.value.code })">
                                <ng-template let-option #selectedItem>
                                    <div class="flex items-center gap-2">
                                        <img [src]="iconOfRandomType(option.code)" class="h-5">
                                        <span>{{ option.label }}</span>
                                    </div>
                                </ng-template>
                                <ng-template let-option #item>
                                    <div class="flex items-center gap-2">
                                        <img [src]="iconOfRandomType(option.code)" class="h-5">
                                        <span>{{ option.label }}</span>
                                    </div>
                                </ng-template>
                            </p-select>
                        </ng-template>
                        <ng-template #center>
                            <span class="text-lg font-semibold">{{displayId(selected!.id)}}</span>
                        </ng-template>
                        <ng-template #end>
                            <p-select [options]="[DEFINED_OPTION, ABSTRACT_OPTION]" [disabled]="!style.isAbstract" [ngModel]="selected!.abstractOption" optionLabel="label" class="w-32 mr-2" (onChange)="editRule(selected!.id, { isAbstract: $event.value.code })"/>
                            <p-button *ngIf="!selected!.rule.isDependency" icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="secondary" />
                            <p-button *ngIf="!selected!.rule.isDependency" icon="pi pi-trash" [rounded]="true" [outlined]="true" severity="danger" (onClick)="deleteRule(selected!.id)"/>
                        </ng-template>
                    </p-toolbar>
                </div>
                <ng-template *ngIf="selected!.rule.isAbstract; then abstract else concrete" />
                <ng-template #abstract>
                    <div class="h-full flex flex-col gap-4 items-center justify-center">
                        <span>This Rule is Abstract: sub style must define it</span>
                        <p-button label="Make Concrete" icon="pi pi-angle-double-right" severity="info" (onClick)="editRule(selected!.id, { isAbstract: false })"/>
                    </div>
                </ng-template>
                <ng-template #concrete>
                    <div class="flex gap-3 items-center">
                        <p-select [options]="randomOptions(selected!.rule.type)" [ngModel]="selected!.randomTypeOption" optionLabel="label" class="w-36" (onChange)="changeRuleRandom(selected!.id, $event.value.code)"/>
                        <p-button *ngIf="!selected!.rule.random.isConstant" label="Make Constant" icon="pi pi-angle-double-down" severity="secondary" (onClick)="transformRuleRandom(selected!.id, true)"/>
                        <p-button *ngIf="selected!.rule.random.isConstant" label="Make Random" icon="pi pi-angle-double-up" severity="secondary" (onClick)="transformRuleRandom(selected!.id, false)"/>
                        <div class="grow"></div>
                        <p-selectbutton [options]="[VARIABLE_OPTION, FIXED_OPTION]" [allowEmpty]="false" [ngModel]="selected!.fixedOption!" optionLabel="label" (onChange)="editRule(selected!.id, { fixed: $event.value.code })"/>
                    </div>
                    <p-card>
                        <div class="p-3">
                            <random [random]="selected!.rule.random" [data]="selected!.rule.data" (edit)="editRuleRandom(selected!.id, $event)"></random>
                        </div>
                    </p-card>
                </ng-template>
            </div>
        </ng-template>

        <ng-template #main>
            <div class="flex flex-col p-3 gap-4 w-full">
                <div class="flex gap-5 cursor-pointer">
                    <div class="flex flex-col" [ngClass]="{'text-fore-4': !style.isAbstract}">
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can have undefined</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-times-circle"></i>
                            <span class="text-sm">Can not be used</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can be implemented</span>
                        </div>
                    </div>
                    <div class="grow h-full flex rounded-xl border-solid border-2 border-primary-300 p-2 gap-2"
                        (click)="edit({ isAbstract: !style.isAbstract })">
                        <div class="h-full grow flex items-center justify-center rounded-xl"
                            [ngClass]="{'bg-primary-300': style.isAbstract}">Abstract</div>
                        <div class="h-full grow flex items-center justify-center rounded-xl"
                            [ngClass]="{'bg-primary-300': !style.isAbstract}">Concrete</div>
                    </div>
                    <div class="flex flex-col" [ngClass]="{'text-fore-4': style.isAbstract}">
                        <div class="flex gap-2">
                            <i class="pi pi-times-circle"></i>
                            <span class="text-sm">Can not have undefined</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can be used</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can be implemented</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center gap-3 px-4 mt-2">
                    <hr class="grow">
                    <span class="text-fore-2">Implementations</span>
                    <hr class="grow">
                </div>
                <div class="flex flex-col rounded-xl border-solid border-2 border-primary-300 p-2 gap-2 justify-center">
                    <span *ngIf="style.implementations.length === 0" class="text-fore-3">No Implementations installed</span>
                    <div *ngFor="let implementation of style.implementations"
                        class="flex px-3 py-1 gap-3 rounded-xl hover:bg-primary-300 items-center implementation">
                        <img src="assets/icon/style.svg" class="h-5">
                        <span *ngIf="implementation.pack" class="text-fore-3 text-sm">{{implementation.pack}}</span>
                        <span class="grow">{{displayId(implementation.location)}}</span>
                        <button class="implementation-actions" (click)="deleteImplementation(implementation)">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="grow min-h-[30%] flex flex-col gap-2">
                    <search-bar [value]="implementationResearch" (edit)="searchForImplementations($event)"></search-bar>
                    <div *ngIf="possibleImplementations.length === 0" class="grow flex items-center justify-center">
                        <span class="text-fore-3">No possible Implementations found</span>
                    </div>
                    <div *ngFor="let implementation of possibleImplementations"
                        class="flex px-3 py-1 gap-3 rounded-xl hover:bg-primary-300 items-center cursor-pointer implementation"
                        (click)="pushImplementation(implementation)">
                        <img src="assets/icon/style.svg" class="h-5">
                        <span *ngIf="implementation.pack" class="text-fore-3 text-sm">{{implementation.pack}}</span>
                        <span class="grow">{{displayId(implementation.location)}}</span>
                        <i class="pi pi-plus-circle implementation-actions"></i>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>

    <ng-template pTemplate>
        <p-panel class="h-full w-full panel flex flex-col gap-2">
            <ng-template #header>
                <div class="flex w-full">
                    <span class="flex-grow font-semibold text-lg">Rules</span>
                    <button>
                        <i class="pi pi-plus-circle" (click)="setNewRule('')"></i>
                    </button>
                </div>
            </ng-template>
            <div class="flex flex-grow flex-col gap-1">
                <div *ngFor="let rule of rulesIds()" class="flex px-1 rule"
                    [ngClass]="{'rule-selected': selected?.id === rule}">
                    <button class="grow node-area flex gap-2.5 items-center" (click)="select(rule === selected?.id ? null : rule)">
                        <img class="h-5" [src]="iconOfRule(rule)">
                        <span class="grow text-start">{{ displayId(rule) }}</span>
                    </button>
                    <button class="rule-actions items-center">
                        <i class="pi pi-trash" *ngIf="!hasRuleDependencies(rule)" (click)="deleteRule(rule)"></i>
                    </button>
                </div>
                <hidden-input *ngIf="newRule !== undefined" [value]="newRule" (submit)="createRule($event)"
                    (clickOutside)="setNewRule(undefined)"></hidden-input>
            </div>
        </p-panel>
    </ng-template>
</p-splitter>