/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

.implementation-actions {
  display: none;
}

.implementation:hover > .implementation-actions,
.implementation-actions:hover {
  display: flex;
}

.material-weight {
  background: linear-gradient(90deg, var(--p-primary-50) 60%, var(--p-primary-300) 100%);
}

.rule-preview {
  background: linear-gradient(90deg, rgba(18,71,190,1) 40%, rgba(0,0,0,0) 110%);
}

.rule-actions {
  display: none;
}

.rule:hover > .rule-actions,
.rule-actions:hover, 
.rule-selected > .rule-actions {
  display: flex;
}

.rule:hover {
  background-color: var(--p-primary-300);
  border-radius: 5px;
}

.rule-selected {
  background-color: var(--p-primary-900);
  border-radius: 5px;
}