<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<p-splitter [panelSizes]="[75, 25]" [minSizes]="[40, 15]" [style]="{ height: '100%' }">
    <ng-template pTemplate>
        <ng-template *ngIf="selected; then rule else main" />

        <ng-template #rule>
            TO DO
        </ng-template>

        <ng-template #main>
            <div class="flex flex-col p-3 gap-4 w-full">
                <div class="flex gap-5 cursor-pointer">
                    <div class="flex flex-col" [ngClass]="{'text-fore-4': !style.isAbstract}">
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can have undefined</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-times-circle"></i>
                            <span class="text-sm">Can not be used</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can be implemented</span>
                        </div>
                    </div>
                    <div class="grow h-full flex rounded-xl border-solid border-2 border-primary-300 p-2 gap-2"
                        (click)="edit({ isAbstract: !style.isAbstract })">
                        <div class="h-full grow flex items-center justify-center rounded-xl"
                            [ngClass]="{'bg-primary-300': style.isAbstract}">Abstract</div>
                        <div class="h-full grow flex items-center justify-center rounded-xl"
                            [ngClass]="{'bg-primary-300': !style.isAbstract}">Concrete</div>
                    </div>
                    <div class="flex flex-col" [ngClass]="{'text-fore-4': style.isAbstract}">
                        <div class="flex gap-2">
                            <i class="pi pi-times-circle"></i>
                            <span class="text-sm">Can not have undefined</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can be used</span>
                        </div>
                        <div class="flex gap-2">
                            <i class="pi pi-check-circle"></i>
                            <span class="text-sm">Can be implemented</span>
                        </div>
                    </div>
                </div>
                <div class="flex items-center gap-3 px-4 mt-2">
                    <hr class="grow">
                    <span class="text-fore-2">Implementations</span>
                    <hr class="grow">
                </div>
                <div class="flex flex-col rounded-xl border-solid border-2 border-primary-300 p-2 gap-2 justify-center">
                    <span *ngIf="style.implementations.length === 0" class="text-fore-3">No Implementations installed</span>
                    <div *ngFor="let implementation of style.implementations"
                        class="flex px-3 py-1 gap-3 rounded-xl hover:bg-primary-300 items-center implementation">
                        <img src="assets/icon/style.svg" class="h-5">
                        <span *ngIf="implementation.pack" class="text-fore-3 text-sm">{{implementation.pack}}</span>
                        <span class="grow">{{displayId(implementation.location)}}</span>
                        <button class="implementation-actions" (click)="deleteImplementation(implementation)">
                            <i class="pi pi-trash"></i>
                        </button>
                    </div>
                </div>
                <div class="grow min-h-[30%] flex flex-col gap-2">
                    <search-bar [value]="implementationResearch" (edit)="searchForImplementations($event)"></search-bar>
                    <div *ngIf="possibleImplementations.length === 0" class="grow flex items-center justify-center">
                        <span class="text-fore-3">No possible Implementations found</span>
                    </div>
                    <div *ngFor="let implementation of possibleImplementations"
                        class="flex px-3 py-1 gap-3 rounded-xl hover:bg-primary-300 items-center cursor-pointer implementation"
                        (click)="pushImplementation(implementation)">
                        <img src="assets/icon/style.svg" class="h-5">
                        <span *ngIf="implementation.pack" class="text-fore-3 text-sm">{{implementation.pack}}</span>
                        <span class="grow">{{displayId(implementation.location)}}</span>
                        <i class="pi pi-plus-circle implementation-actions"></i>
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>

    <ng-template pTemplate>
        <p-panel class="h-full w-full panel flex flex-col gap-2">
            <ng-template #header>
                <div class="flex w-full">
                    <span class="flex-grow font-semibold text-lg">Rules</span>
                    <button>
                        <i class="pi pi-plus-circle" (click)="setNewRule('')"></i>
                    </button>
                </div>
            </ng-template>
            <div class="flex flex-grow flex-col gap-1">
                <div *ngFor="let rule of rulesIds()" class="flex px-1 rule"
                    [ngClass]="{'rule-selected': selected?.id === rule}">
                    <button class="grow node-area flex gap-2.5 items-center" (click)="select(rule)">
                        <i class="pi pi-file"></i>
                        <span class="grow text-start">{{ displayId(rule) }}</span>
                    </button>
                    <button class="rule-actions items-center">
                        <i class="pi pi-trash" (click)="deleteRule(rule)"></i>
                    </button>
                </div>
                <hidden-input *ngIf="newRule !== undefined" [value]="newRule" (submit)="createRule($event)"
                    (clickOutside)="setNewRule(undefined)"></hidden-input>
            </div>
        </p-panel>
    </ng-template>
</p-splitter>