/*             _____
 *         ___/     \___        |  |
 *      ##/  _.- _.-    \##  -  |  |                       -
 *      ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
 *      ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
 *      ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
 *      ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
 *      ##\___   |   ___/
 *      ##    \__|__/
 *
*/

@import 'primeicons/primeicons.css';

/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Resize Containers to full height */

html {
  height: 100%;
}

body {
  height: 100%;
  color: theme('colors.fore.1');
}

app-root {
  display: block;
  height: 100%;
}

/* Default style */

:focus-visible {
  outline: none;
}

span {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

p {
  white-space: pre-line;
  overflow-y: auto;
}

img {
  object-fit: cover;
  background-position: center;
}

hr {
  border-color: theme('colors.fore.4');
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  color: theme('colors.main-acc.DEFAULT');
  margin-left: 8px;
  font-size: 15px;
}

input,
textarea {
  border-radius: 10px;
  background-color: transparent;
  border: solid 2px theme('colors.main-acc.DEFAULT');
  padding: 10px 15px;
  width: 100%;
}

input.invalid,
textarea.invalid {
  border: solid 2px theme('colors.error');
  color: theme('colors.error');
}

textarea {
  white-space: pre;
}

input:focus-visible,
textarea:focus-visible {
  outline: theme('colors.main-focus.DEFAULT');
}

select {
  background-color: transparent;
  border: solid 2px theme('colors.main-acc.DEFAULT');
  border-radius: 10px;
  padding: 2px 8px;
}

select option {
  background-color: theme('colors.back.3');
}

select option:checked {
  background-color: theme('colors.main.tr');
}

/* WebKit */

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.fore.5');
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme('colors.fore.4');
}

::-webkit-scrollbar-corner {
  background: transparent;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Utilities */

.decorated-button {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 8px;
  background-color: theme('colors.main.DEFAULT');
  outline: solid theme('colors.main-acc.DEFAULT') 2px;
  border-radius: 10px;
  height: 35px;
  padding: 0 15px;
  margin: 5px;
}

.secondary-button {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 8px;
  color: theme('colors.fore.2');
  outline: solid theme('colors.fore.2') 2px;
  border-radius: 10px;
  height: 35px;
  padding: 0 15px;
  margin: 5px;
}

.decorated-button:hover {
  background-color: theme('colors.main-acc.DEFAULT');
  outline: none;
}

.icon,
.icon-button {
  width: 32px;
  height: 32px;
  padding: 7px;
}

.small-icon,
.small-icon-button {
  width: 24px;
  height: 24px;
  padding: 3px;
}

.small-icon-button {
  cursor: pointer;
  border-radius: 5px;
}

.icon-button {
  cursor: pointer;
  border-radius: 10px;
}

.icon-button:hover,
.small-icon-button:hover {
  background-color: theme('colors.back.5');
}

.decorated-label {
  padding: 10px;
  border-radius: 16px;
  border: solid 2px theme('colors.fore.4');
  display: flex;
  align-items: center;
  gap: 10px;
}

.decorated-icon {
  padding: 2px;
  border: solid 2px theme('colors.fore.1');
  border-radius: 12px;
}

.decorated-icon > img {
  height: 28px;
  width: 28px;
}

.big-decorated-icon {
  padding: 6px;
  border: solid 3px theme('colors.fore.1');
  border-radius: 20px;
}

.big-decorated-icon > img {
  height: 50px;
  width: 50px;
}

.panel {
  background-color: theme('colors.back.main');
  border: solid 3px theme('colors.main.tr');
  border-radius: 15px;
  padding: 10px 15px;
}

.input-small {
  padding: 5px 10px;
}

.input-void {
  font-size: 15px;
  padding: 1px 8px;
  border-radius: 8px;
  border: solid 2px theme('colors.main-acc.DEFAULT');
}

.input-label {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 3px;
  display: block;
  color: theme('colors.main-acc.DEFAULT');
}

.input-label-error {
  font-size: 14px;
  margin-left: 15px;
  margin-bottom: 3px;
  display: block;
  color: theme('colors.error');
}

.error-input {
  border: solid 2px theme('colors.error');
}

/* Selectable Items */

.unselected,
.selected {
  width: 100%;
  height: 35px;
}

.unselected:hover {
  background-color: theme('colors.main-hover.tr');
}

.selected {
  background-color: theme('colors.main.tr');
  outline: solid theme('colors.main-acc.tr') 2px;
}

.icon-selected {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: theme('colors.main.tr');
  border-radius: 10px;
}

.icon-unselected {
  height: 30px;
  width: 30px;
  padding: 5px;
}

.icon-unselected:hover {
  height: 30px;
  width: 30px;
  padding: 5px;
  background-color: theme('colors.main-hover.tr');
  border-radius: 10px;
}

/* Animation */

.glow,
.glow-hover,
.glow-active {
  position: relative;
  z-index: 0;
}

.glow::after,
.glow-hover::after,
.glow-active::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 12px;
}

.glow::before,
.glow-hover::before,
.glow-active::before {
  content: '';
  background: linear-gradient(45deg, #001fcf, #0097ee, #001fcf);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 12px;
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.glow-hover::before {
  opacity: 0;
}

.glow-hover:hover::before {
  opacity: 1;
}

.glow-active:active:after {
  color: black;
  font-weight: bold;
}

.glow-active:active:after {
  background: transparent;
}

/* Loading Animations */

.loader {
  width: 180px;
  height: 14px;
  border-radius: 4px;
  box-shadow: 0 3px 0 #efefef;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}
.loader:before {
  content: '';
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: no-repeat linear-gradient(#efefef 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}
@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }
  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }
  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }
  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }
  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px),
      100% calc(100% - 16px);
  }
}
@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }
  100% {
    transform: translate(200%);
  }
}

/* PrimeNG */

.p-inputnumber {
  border: solid 2px theme('colors.main-acc.DEFAULT');
  border-radius: 10px;
  padding: 0 4px 0 8px;
}

.p-inputnumber > input {
  border: none;
  padding: 0px;
  border-radius: 0px;
}

p-splitter {
  display: block;
}

.p-splitter-horizontal {
  height: 100%;
}

.p-icon-field {
  display: flex;
  gap: 6px;
  padding: 0 6px;
  border-radius: 8px;
  border: solid 2px theme('colors.main-acc.DEFAULT');
}

.p-icon-field > input {
  border: none;
  padding: 0px;
  border-radius: 0px;
  font-size: 15px;
}

p-inputicon {
  display: flex;
  align-items: center;
}

p-tabview {
  display: block;
}

.p-tabview {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 100%;
}

.p-tabview-panels {
  flex-grow: 1;
}

.p-tabview-panel {
  height: 100%;
}

.p-tabview-nav {
  display: flex;
  gap: 4px;
}