<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<div [formGroup]="form">
    <p-fluid class="flex flex-col gap-3">
        <ng-container *ngFor="let input of formData.inputs; trackBy: trackById">
            <ng-container *ngComponentOutlet="input.component; inputs: { input: input, parentForm: form }"></ng-container>
        </ng-container>
    </p-fluid>
</div>