<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->


<p-panel class="h-full">
    <ng-template #header>
        <div class="flex gap-2 items-center p-2 w-full rounded-lg bg-surface-900 border-solid border-[1px] border-primary-600">
            <img class="h-7 w-7 rounded-lg" [src]="project.image"/>
            <span class="grow">{{project.name}}</span>
            <div class="flex gap-1">
                <img *ngFor="let bar of bars; index as i" class="bar-icon"
                    [ngClass]="{'bar-icon-selected': i === selectIndex}" [src]="bar.icon" (click)="select(i)">
            </div>
        </div>
    </ng-template>

    <div class="grow my-2 panel">
        <ng-container *ngComponentOutlet="bars[selectIndex].component" class="h-full"></ng-container>
    </div>
</p-panel>