<!--             _____
             ___/     \___        |  |
          ##/  _.- _.-    \##  -  |  |                       -
          ##\#=_  '    _=#/##  |  |  |  /---\  |      |      |   ===\  |  __
          ##   \\#####//   ##  |  |  |  |___/  |===\  |===\  |   ___|  |==/
          ##       |       ##  |  |  |  |      |   |  |   |  |  /   |  |
          ##       |       ##  |  \= \= \====  |   |  |   |  |  \___/  |
          ##\___   |   ___/
          ##    \__|__/
-->

<div class="h-full w-full flex gap-2 p-2">
    <p-splitter class="h-full w-full" [panelSizes]="[40, 60]" [minSizes]="[20, 40]" [style]="{ height: '100%', width: '100%' }">
        <ng-template #panel>
            <p-panel header="Settings" class="w-full">
                <p-tree class="md:w-30rem" [value]="groups" (onNodeExpand)="nodeExpand($event)"
                    (onNodeCollapse)="nodeCollapse($event)" class="w-full">
                    <ng-template let-node>
                        <div class="flex gap-2 items-center rounded-md px-1 cursor-pointer" [ngClass]="{'bg-surface-300': node === selectedGroup}" (click)="selectGroup(node)">
                            <i [class]="node.icon"></i>
                            <span>{{ node.label }}</span>
                        </div>
                    </ng-template>
                </p-tree>
            </p-panel>
        </ng-template>
        <ng-template #panel>
            <div *ngIf="selectedGroup" class="w-full p-1">
                <span>{{selectedGroup.label}}</span>
                <form-util [formData]="getFormData()"></form-util>
            </div>
        </ng-template>
    </p-splitter>
</div>